/* top */
.container-menu {
	position: absolute;
	float: left;
	margin-left: 20%;
	background: none;
	height: 100px;
	width: 60%;
}

.container-menu li {
	float: left;
	font-size: 18px;
}

.container-menu li a {
	display: block;
	padding: 40px 0px 0px 25px;
	text-decoration: none;
	text-align: center;
	color: aqua;
}

.container-menu ul {
	overflow: hidden;
	margin-left: 150px;
	display: inline-block;
	list-style-type: none;
}

.container-bt {
	position: absolute;
	float: right;
	margin-left: 80%;
	padding-top: 40px;
	width: auto;
	height: 60px;
}

.container-bt a:Link {
	margin-left: 17px;
	background-color: aquamarine;
	border: 12px solid aquamarine;
	border-radius: 5px;
}

.container-bt a:Link:hover, .container-links a:visited:hover {
	text-decoration: none;
	background-color: #D20005;
	border: 12px solid #D20005;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}
.dialog img {
	margin:20px;
	width: 75px;
	height: 75px;
}

.dialog img:hover {
	transform:scale(1.2);
}
/* top */
body {
	height:2300px;
	background-color: activeborder;
	font-family: Montserrat, Roboto, 'Open Sans', sans-serif;
}
.center_content h2, h4{
	font-weight: lighter;
	text-align: center;
	font-size: 30px;
	color: aqua;
	font-family: Montserrat, Roboto, 'Open Sans', sans-serif;
	padding-bottom: 50px;
}

.container-cliente {
	height: 500px;
	position: static;
}

.container-cliente #animacao {
	position: absolute;
	display: flex;
	height: 40px;
	width: 1200px;
	line-height: 40px;
	margin-top: -15%;
	left: 25px;
	overflow: hidden;
	font-size: 30px;
	color: aqua;
}

.container-cliente #animacao ul {
	list-style-type: none;
	margin-left: 10px;
	animation: animacao 10s infinite;
}

@keyframes animacao { 
	0%{margin-top: 0px;}
	20%{margin-top:0px;}
	25%{margin-top:-40px;}
	50%{margin-top:-40px;}
	70%{margin-top:-10px;}
	90%{margin-top: 0px;}
	100%{margin-top:0px;}
}
/* especialidades */
#container-esp {
	height: 500px;
}

#container-esp ul {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 4;
	list-style-type: none;
}

#container-esp ul li {
	padding: 10px;
	margin-left: 10px;
}

#container-esp ul li a {
	text-decoration: none;
	color: darkolivegreen;
	font-size: 20px;
}
/* especialidades */
/* conveniados */
#container-conveniados {
	height: 500px;
}

#container-conveniados li {
	float: left;
	padding: 10px;
}

#container-conveniados ul {
	overflow: hidden;
	display: inline-block;
	float: left;
	list-style-type: none;
}

#container-conveniados img {
	padding-top: 30px;
	width: 200px;
	height: 200px;
}
/* conveniados */
/*Conteudo Empresa*/
.container-emp {
	height: 500px;
}

.container-emp #animacao02 {
	display: flex;
	height: 120px;
	width: 1200px;
	left: 25px;
	top:85%;
	position: absolute;
	overflow: hidden;
}

.container-emp #animacao02 ul{
	list-style-type: none;
	color: aqua;
	font-size: 30px;
	padding-left: 10px;
	animation: animacao 10s infinite;
}

.container-emp #animacao02 p{
	color: aqua;
	font-size: 30px;
}
@keyframes animacao {
	0%{margin-top: 0px;}
	20%{margin-top:0px;}
	25%{margin-top:-40px;}
	50%{margin-top:-40px;}
	70%{margin-top:-10px;}
	90%{margin-top: 0px;}
	100%{margin-top:0px;}
}
