.panel {
	position: absolute;
	background: rgba(224, 219, 219, 0.4);
	text-align: center;
	border: none;
	left: 50%;
	top: 50%;
	height: 333px;
	transform: translate(-50%, -50%);
	display: flex;

}

.panel-register {
	position: absolute;
	font-size: 16px;
	text-align: center;
	width: 300px;
	background: none;
	left: 88%;
	top: 93%;
	border: none;
	transform: translate(-50%, -50%)
}

.box-dados {
	border-radius: 10px;
}

.input {
	border-radius: 22px;
}

.input:hover , .input:focus{
	border-color: green;
	transform: scaleX(1.15);
}

.bt-salvar {
	border-radius: 22px;
	color: white;
	margin-top: 10px;
	width: 150px;
	margin-left: 40px;	
}

.bt-salvar:hover {
	background: green;
}

