#bottom{
	top:0px !important;
}
#content {
	background-color: rgb(15, 199, 211);
}
.container-img img {
	float: left;
	margin: 100px;
}

.title {
	margin-right:-230px;
	padding: 10px;
	text-align: right;
	right: 0;
	
}

.dados {
	position: absolute;
	margin-left: 45%;
	float: right;
	width: 55%;
	height: 100%;
}

.dados .panel button {
	margin-left: 100%;
	background: green;
	color: white;
	width: 150px;
}
.dados div {
	background: none;
	width:450px;
	border: none;
}



