#bottom{
	top:0px !important; 
	height: auto !important;
}

.links-top {
	background: none;
	width: 100%;
}

.links-top .panel {
	position: relative;
	background: none;
	border: none;
}

.links-top .panel div {
	padding-top: 28px;
}

.links-top .panel a{
	text-decoration: none;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
	margin: 0 10px;
}
