.links-top {
	background: none;
	width: 100%;
}

.links-top .panel {
	width: 50%;
	position: relative;
	background: none;
	border: none;
	margin-left: 45%;
}

.links-top .panel div {
	width: 100%;
	padding-top: 28px;
}

.links-top .panel a:link {
	margin: 20px;
	background-color: aquamarine;
	border: 12px solid aquamarine;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background-color: aquamarine;
}
.links-top .panel a:Link:hover{
	text-decoration: none;
	background-color: #D20005;
	border: 12px solid #D20005;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}
