html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background: none;
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: black;
}