* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #ffffff;
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: black;
}

a:link, a:visited {
	color: #045491;
	font-weight: bold;
	text-decoration: none;
}

a:link:hover, a:visited:hover {
	color: #045491;
	font-weight: bold;
	text-decoration: underline;
}