html {
	scroll-behavior: smooth;
}
* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #ffffff;
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: black;
}